/*	=	=	=	=	=	=	=	=	= counter-reset: =	=	=	=	=	=	*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
 *COLORS*
 * tan - 888461
 * dark sage - 45483f
 * red - 522627
 * dark red - 2a1319
 * sand - 6c5a32
 * dark sand - 4e411e
 * grey - 44403f
 * green - 111c160
 * blue - 0b1933 - 102440
 */

/*	=	=	=	=	=	=	=	=	Regular Style	=	=	=	=	=	=	=	=	*/

body{
	text-align: center;
	background: url(../images/background.jpg);
	font-size: 62.5%
}

#wrap{
	width: 960px; 
	margin: 0 auto;
	text-align: left;
}

h4{
	margin-left: 50px;
	font-size: 3.500em; /*35px*/
	color: #522627;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: bold;
	text-shadow:
    	-1px -1px 0 #000,
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000; 
   	letter-spacing: 1px;
}

h2{
	margin-left: 50px;
	font-size: 3.000em; /*30px*/
	color: #111c16;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

p, li, label{
	font-size: 2.000em; /*20px*/
	color: #111c16;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

/*	=	=	=	=	DIV TOP	=	=	=	=	*/

div #top {
	margin-top: 10px;
}

#power {
	float: right;
	clear: right;
}

#content{
	margin-top: 15px;
	float: none;
}


