body{
	text-align: center;
	font-size: 62.5%;
	background: url(../images/waterBG.png);
}

#wrapper{
	width: 800px;
	margin: 0 auto;
}

#signText {
	position: relative;
	top: -715px;
	left: 225px;
	width: 300px;
    font-size: 3.0em;
    font-family: 'Swanky and Moo Moo', cursive;
    transform:rotate(-1.5deg);
	-ms-transform:rotate(-1.5deg); /* IE 9 */
	-webkit-transform:rotate(-1.5deg); /* Safari and Chrome */
	-moz-transform:rotate(-1.5deg);
}

