body{
	text-align: center;
	font-size: 62.5%;
}

#wrapper{
	width: 800px;
	margin: 0 auto;
}

#signText {
	position: relative;
	top: -690px;
	left: 250px;
	width: 250px;
    font-size: 2.5em;
    font-family: 'Swanky and Moo Moo', cursive;
    transform:rotate(-1.5deg);
	-ms-transform:rotate(-1.5deg); /* IE 9 */
	-webkit-transform:rotate(-1.5deg); /* Safari and Chrome */
	-moz-transform:rotate(-1.5deg);
}

